In [1]:
import pandas as pd

## Que 1

In [2]:
pd.Series([4, 8, 15, 16, 23,42])

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Que 2

In [3]:
l = [1,2,3,4,5,6,7,8,9,10]
s = pd.Series(l)
print(s)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

## Que 3

In [4]:
data = {"name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","Female"]}

In [5]:
df1 = pd.DataFrame(data)

In [7]:
print(df1)

     name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Que 4

DataFrame is a two-dimensional labeled data structure that is widely used for data manipulation and analysis. It can be thought of as a table-like structure, similar to a spreadsheet or a SQL table, where data is organized in rows and columns.

Series is a one-dimensional labeled array, somewhat similar to a single column of a DataFrame. It can hold data of any type and also has an associated index.

In [8]:
#DataFrame
data = {"name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","Female"]}
df1 = pd.DataFrame(data) 
df1

     name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [9]:
age_series = df1['Age']
age_series

0    25
1    30
2    27
Name: Age, dtype: int64

## Que 5

1. Filtering Data
2. Sorting Data
3. Grouping and Aggregation
4. Adding and Dropping Columns
5. Handling Missing Data

Example - We have some missing age values, and you want to replace them with the median age.

## Que 6

Series and DataFrame are mutable, while Panel is not.

Panel used to be a three-dimensional data structure in pandas, but it has been deprecated and removed in favor of using MultiIndex within a DataFrame to handle higher-dimensional data. Panel was not as widely used and was less flexible compared to Series and DataFrame

## Que