## Que 1

A database is a structured collection of data that is organized and managed in a way that allows for efficient storage, retrieval, and manipulation of information. Databases are used to store and manage large amounts of data for various applications and systems, ranging from simple personal projects to complex enterprise-level applications.
* SQL databases are based on the relational model, which means that they organize data into tables with rows and columns. These databases use SQL, a standardized language, to perform operations such as querying, inserting, updating, and deleting data. SQL databases have a predefined schema that defines the structure of the data, including data types, relationships, and constraints.
* NoSQL databases, as the name suggests, do not follow the traditional relational model. Instead, they use various data models to store and retrieve data, such as key-value pairs, document-based (JSON or BSON), column-family, or graph-based structures. NoSQL databases are designed to handle large volumes of unstructured or semi-structured data and provide high scalability and flexibility.

## Que 2

DDL stands for Data Definition Language, and it is a subset of SQL (Structured Query Language) used to define, manage, and modify the structure of the database objects. DDL statements are used to create, modify, or delete database objects such as tables, indexes, views, and more. These statements are essential for setting up the database schema and managing its structure.
* The CREATE statement is used to create new database objects like tables, indexes, or views.

CREATE TABLE employees (

    emp_id INT PRIMARY KEY,

    emp_name VARCHAR(50),

    emp_salary DECIMAL(10, 2),

    hire_date DATE

);

* The DROP statement is used to remove existing database objects like tables, indexes, or views.

DROP TABLE employees;

* The ALTER statement is used to modify the structure of an existing database object.

ALTER TABLE employees

ADD emp_department VARCHAR(50);

* The TRUNCATE statement is used to remove all data from a table while keeping the table's structure intact.

TRUNCATE TABLE employees;

## Que 3

DML stands for Data Manipulation Language, and it is a subset of SQL (Structured Query Language) used to interact with the data stored in the database. DML statements allow you to insert, update, and delete data in the database tables.
* The INSERT statement is used to add new records (rows) into a table.

INSERT INTO employees (emp_id, emp_name, emp_salary, hire_date, emp_department)

VALUES (101, 'John Doe', 50000, '2023-07-24', 'HR');

* The UPDATE statement is used to modify existing records in a table.

UPDATE employees

SET emp_salary = 55000, emp_department = 'Finance'

WHERE emp_id = 101;

* The DELETE statement is used to remove one or more records from a table based on specified conditions.

DELETE FROM employees

WHERE emp_id = 101;

## Que 4

DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) used to retrieve and query data from a database. DQL allows you to perform queries on the database tables to extract specific information based on certain conditions.
The most commonly used DQL statement is the SELECT statement, which is used to retrieve data from one or more tables in the database.

SELECT emp_id, emp_name, emp_salary

FROM employees

WHERE emp_department = 'HR';

## Que 5

A Primary Key is a column or a set of columns in a database table that uniquely identifies each record (row) in that table. It serves as a unique identifier for the records and ensures that there are no duplicate or null values in the key column. Every table in a relational database should have a primary key, as it guarantees data integrity and provides a way to uniquely identify individual rows.

A Foreign Key is a column or a set of columns in a database table that establishes a link or relationship between two tables. It represents a reference to the primary key column of another table, thereby creating a link between the two tables. The foreign key ensures referential integrity, which means that the values in the foreign key column must either match a primary key value in the referenced table or be null.

## Que 6

import mysql.connector

mydb = mysql.connector.connect(host="localhost",user="abc",password="password")

mycursor = mydb.cursor()

The cursor() method is used to create a cursor object, which allows you to interact with the MySQL database. The cursor object provides various methods to execute SQL queries, fetch data, and manage transactions. The cursor acts as a pointer to the result set returned by a query and enables you to process the data retrieved from the database.

The execute() method is used to execute an SQL query using the cursor object. It takes the SQL query as a parameter and sends the query to the MySQL server for execution. After execution, the results (if any) are available in the cursor object for further processing.

## Que 7

The order of execution in an SQL query is as follows: SELECT -> FROM -> WHERE -> GROUP BY -> HAVING -> ORDER BY -> LIMIT / OFFSET (if used). All clauses are not mandatory in every SQL query, the order may change based on the presence and arrangement of these clauses in the query.