## Que 1

In [1]:
s = "Priykrit"
type(s)

str

In [2]:
l = [1,2,3,"Hello",23.4]
type(l)

list

In [3]:
f = 23.4
type(f)

float

In [4]:
t = ("Hi","Hello","Bye")
type(t)

tuple

## Que 2
1) String
2) String
3) List
4) Float

In [5]:
var1 = ''
type(var1)

str

In [6]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [7]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [8]:
var4 = 1.
type(var4)

float

## Que 3

In [10]:
# / is floating point divison operator
a = 4/2
a

2.0

In [11]:
# % is modulus operator used to get remainder 
b = 47%3
b

2

In [12]:
# // is floor divison operator
c = 7//3
c

2

In [14]:
# ** is power opeator used to rasie number to a power
d = 4**3
d

64

## Que 4

In [19]:
ls = [1,2,3,4.5,5,6,7,'Hello',False,10]
for i in ls:
    print(str(i) +" "+str(type(i)))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4.5 <class 'float'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
Hello <class 'str'>
False <class 'bool'>
10 <class 'int'>

## Que 5

In [30]:
A = int(input("Enter Number at A: "))
B = int(input("Enter Number at B: "))
i=0
while(A>B):
    if(A%B==0):
        A/=B
        i+=1
    else:
        if(i>0):
            print("The number A is purely divisible by number B and only divisible by "+str(i)+" times")
        else:
            print("The number A not is purely divisible by number B")
        break
else:
    print("The number A is purely divisible by number B and "+str(i)+" times")

Enter Number at A:  32
Enter Number at B:  2

The number A is purely divisible by number B and 4 times

## Que 6

In [31]:
lt = list(range(1,26))
for i in lt:
    if(i%3==0):
        print(str(i)+' is divisible by 3')
    else:
        print(str(i)+' is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

## Que 7

Mutable data types are data types that allows data in them to be changed. Example list, int, float, etc. Where as Immutable data types are data types that does not allows data in them to be changed. Example string ,tuple, etc.

In [39]:
lst = [4,5,6]
lst[1]

5

In [40]:
lst[1]=10
lst

[4, 10, 6]

In [41]:
s = "Priykrit"
s[3]

'y'

In [42]:
s[3]='t'

TypeError: 'str' object does not support item assignment